<div class="wrapper-page">

  <div class="text-center">
    <a href="index.html" class="logo logo-lg"><i class="md md-equalizer"></i> <span>Sign up</span> </a>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal m-t-20"}) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <div class="col-xs-12">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
        <i class="fa fa-envelope form-control-feedback l-h-34"></i>
      </div>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>