<div class="wrapper-page">

  <div class="text-center">
    <a class="logo logo-lg"><span>Change your password</span> </a>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-horizontal m-t-20" }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <div class="col-xs-12">
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "New password" %>
        <i class="fa fa-key form-control-feedback l-h-34"></i>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm new password" %>
        <i class="fa fa-key form-control-feedback l-h-34"></i>
      </div>
    </div>

    <div class="form-group text-right m-t-20">
      <div class="col-xs-12">
        <%= f.button "Change my password", class: "btn btn-primary btn-custom waves-effect waves-light w-md" %>
      </div>
    </div>

  <% end %>

  <div class="form-group m-t-30">
    <div class="col-sm-12 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>