<!DOCTYPE html>
<html>
  <head>
    <title>Kellogg in a Bottle</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="fixed-left widescreen">
    <%= render "layouts/nav" %>
    <%= render "layouts/notices_and_alerts" %>
    <% if params[:controller] == "pages" && params[:action] == "landing" %>
      <%= yield %>
    <% else %>
      <div id="wrapper" style="margin-top: 80px;">
        <div class="container">
          <div class="content-page">
            <div class="content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= render "layouts/footer" %>
  </body>
</html>